.card-container {
    display: flex;
    flex-direction: column;
    background-color: #88d179;
    border: 2px solid grey;
    border-radius: 210px;
    padding: 52px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  